<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dljd.crm.mapper.ContactsMapper">
    <select id="getCustomerName" resultType="java.lang.String">
        select name from tbl_customer where name like '%' #{name} '%'
    </select>

    <select id="get" resultType="com.dljd.crm.beans.Contacts">
        select * from tbl_contacts where id = #{id}
    </select>

    <select id="getByName" resultType="com.dljd.crm.beans.Contacts">
        select * from tbl_contacts
        <where>
            <if test="name!=null and name != ''">
                fullName like '%' #{name} '%'
            </if>
        </where>
    </select>

    <insert id="add">
        insert into tbl_contacts(id,owner,source,appellation,fullName,email,job,mphone,description,birth,customerId,createBy,createTime,contactSummary,nextContactTime,address) values (#{id},#{owner},#{source},#{appellation},#{fullName},#{email},#{job},#{mphone},#{description},#{birth},#{customerId},#{createBy},#{createTime},#{contactSummary},#{nextContactTime},#{address})
    </insert>
</mapper>