<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dljd.crm.mapper.LoginMapper">
    <select id="get" resultType="com.dljd.crm.beans.User">
        select * from tbl_user where loginAct = #{username} and loginPwd = #{password};
    </select>

    <select id="getAllUsername" resultType="String">
        select CONCAT(loginAct,' | ',name) from tbl_user;
    </select>

</mapper>